html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  }

html {
  font-family: Rubik;
  background-color: rgb(255, 255, 255);
}

main, footer {
  max-width: 1000px;
  margin: auto;
}

.header-div {
  width: 100%;
  height: 80px;
  display: block;
  background-color: black;
}

.inner-header-div {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-color: red;
}

.name-div-grid {
  display: grid;
  grid-template-columns: 1000px;
  text-align: center;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.menu a {
text-decoration: none;
color: #000000;
display: inline-block;
padding: 10px 20px;
background-color: rgb(190, 248, 255);
border-bottom: 2px solid #000000;
width: 150px;
}

.menu li {
display: inline-block;
}

.content-lists {
list-style-type: none;
margin-top: 10px;
padding:0;
line-height: 35px;
}

.profile-div-grid {
  width: 1000px;
  display: grid;
  grid-template-columns: 200px 400px 150px;
  margin-bottom: 30px;
  margin-top: 30px;
  column-gap: 50px;
  justify-content: center;
}

.name-div {
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 0;
}

h1 {
  font-size: 45px;
}

.profile-image {
  width: 100%;
  border-radius: 2px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.about-me {
  color: rgb(96, 96, 96);
  line-height: 25px;
  font-size: 15px;
  margin: 0;
}

.exp-div {
  margin-left: 100px;
  display: block;
  width: 800px;
  height: 150px;
  margin-bottom: 20px;
}

.content-div-grid {
  display: grid;
  grid-template-columns: 400px 400px;
  width: 1000px;
  column-gap: 55px;
  justify-content: center;
}

.content-div {
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-div {
  margin-left: 20px;
}

.code-div {
  color: grey;
  font-size: 15px;
}

.rs-logo {
  height: 15px;
  object-fit: cover;
}

.footer {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.footer a {
text-decoration: none;
color: #000000;
display: inline-block;
padding: 10px 20px;
background-color: rgb(190, 248, 255);
width: 150px;
border-top: 2px solid black;
}

.footer li {
display: inline-block;
}

footer ul {
  margin: 0;
}
